/* WelcomeScreen */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  min-height: 130px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-right: 50px;
}

.App-title {
  font-size: 3em;
}

.Home {
  display: flex;
  flex-direction: row;
  height: inherit;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.form-title {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

.form {
  flex: 3;
  width: 100%
}

.switch-btn {
  flex: 2;
  width: 100%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Dashboard */

.small-header {
  background-color: #1b1c1d;
  color: white;
  display: flex;
  height: 8%;
  min-height: 55px;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
}

.small-logo {
  height: 40px;
  margin-right: 20px;
}

.small-title {
  font-size: 2em;
  margin: 0;
}

.nav-bar {
  margin: 0;
}

.word-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word {
  font-size: 80px;
  color: blue;
}

.Dashboard {
  background-color: #1b1c1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  padding: 0.5%;
  /*border: solid 1px red;*/
}

::-webkit-scrollbar {
  display: none;
}

.tab {
  height: 100%;
  width: 100%;
  /*padding: 0.5%;*/
  display: flex;
  flex-direction: row;
}

.stretch {
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
}

div div.ui.small.compact.inverted.attached.three.item.nav-bar.menu {
  margin: 0 !important;
  width: 100%;
}